<?xml version='1.0' encoding='utf-8'?>
<widget id="com.beigel.screenTracker" version="0.1.6" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ScreenTrackr</name>
    <description>A simple Tool to track the screen.</description>
    <author email="beigel.dev@gmail.com" href="https://beigel-dev@gmail.com">
        Beigel
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
