<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width">
    <base href="{{ .Site.BaseURL }}">
    <title>{{ block "title" . }}
        {{ .Site.Title }}
        {{ end }}
    </title>

    {{ $tailwind := resources.Get "css/tailwind.css" | resources.Minify | fingerprint }}

    <link rel="stylesheet" href="{{ $tailwind.Permalink }}" as="style">
</head>

<body class="min-h-screen  ">
    {{ partial "header.html" . }}
    {{ block "main" . }}
    {{ end }}
    {{ partial "footer.html" . }}
</body>

</html>