<footer class="footer footer-center p-4 text-base-content">
    <div class="grid grid-flow-col gap-4">
      <a class="link link-hover" href="datenschutz">Datenschutz</a> 
      <a class="link link-hover" href="impressum">Impressum</a> 
    </div>
    <div>
      <a href='https://ko-fi.com/Q5Q61XW2Y' target='_blank'><img height='36' style='border:0px;height:36px;' src='https://cdn.ko-fi.com/cdn/kofi5.png?v=3' border='0' alt='Buy Me a Coffee at ko-fi.com' /></a>
    
      <p>Copyright © 2022 - All right reserved by Beigel</p>
    </div>
  </footer>